<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <script src="js/phaser.js"></script>
    <style>
        html, body {
            background-color: silver;
        }
        canvas {
            position: fixed;
            width: 70%;
            transform: translate(-50%, -45%);
            left: 50%;
            top: 50%;
            border-style: inset;
        }
        
        blockquote { position: fixed; bottom: 0}
        
        footer {
            width: 10%;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <h1>Template</h1>
    <p>Version x.x Alpha -- <strong>note, due to chrome restrictions click mouse pointer or tap screen to play music!!</strong></p>
    <p>Description</p>
    <blockquote>Congratulations you've saved <strong id="score">0</strong> presents! You have <strong id="lives">3</strong> Lives left.</blockquote>
    <footer>Credits: Voxel Revolution by Kevin MacLeod<br>
    Link: https://incompetech.filmmusic.io/song/7017-voxel-revolution<br>
    License: https://filmmusic.io/standard-license</footer>
    <script src="js/game.js"></script>
</body>
    
</html>